<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GitPod Tutorial</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1" crossorigin="anonymous">
</head>
<body>
   <div class="container p-5">
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <form action="/create" method="POST" class="card card-body border border-primary">
                    <div class="form-group">
                        <input type="text" name="task" placeholder="Write A new Task" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="description" placeholder="Write A Description" class="form-control">
                    </div>
                    <button class="btn btn-primary">
                        Save
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <% tasks.forEach(function (task){ %>
                <div class="card mb-3 border border-primary">
                    <div class="card header text-center pt-1">
                        <h5><%= task.task%></h5>
                    </div>
                    <div class="card-body">
                        <p><%= task.description%></p>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
   </div>
</body>
</html>